<div class="container">
  <mat-card class="card-container">
    <mat-card-header>
      <mat-form-field appearance="outline" class="blog-title">
        <mat-label>Title</mat-label>
        @if (isTitleLoading()) {
        <mat-spinner matSuffix [diameter]="40"></mat-spinner>
        }
        <input matInput placeholder="Title" [(ngModel)]="blogTitle" />
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <editor
        [(ngModel)]="blogContent"
        apiKey="{{ tinyMiceApi }}"
        [init]="editorInit"
      ></editor>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-container">
        <button mat-stroked-button (click)="analyzeReadingEase()">
          Calculate Readability
        </button>
        <button mat-stroked-button (click)="sentimentAnalysis()">
          Sentiment Analysis
        </button>
        <button mat-stroked-button (click)="getSummary()">Summarize</button>
        <button mat-stroked-button (click)="write()">Write</button>
        <button mat-stroked-button (click)="rewrite()">Rewrite</button>
        <button mat-stroked-button (click)="generateTitle()">
          Generate Title
        </button>
      </div>
    </mat-card-actions>
    <div class="writerOptions">
      <div><h5>Set write options</h5></div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Select Tone</mat-label>
          <mat-select [(ngModel)]="writerTone">
            <mat-option value="formal"> Formal </mat-option>
            <mat-option value="neutral"> Neutral </mat-option>
            <mat-option value="casual"> Casual </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Select Length</mat-label>
          <mat-select [(ngModel)]="writerLength">
            <mat-option value="short"> Short </mat-option>
            <mat-option value="medium"> Medium </mat-option>
            <mat-option value="long"> Long </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="writerOptions">
      <div><h5>Set rewrite options</h5></div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Select Tone</mat-label>
          <mat-select [(ngModel)]="reWriterTone">
            <mat-option value="as-is"> As is </mat-option>
            <mat-option value="more-formal"> More formal </mat-option>
            <mat-option value="more-casual"> More casual </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Select Length</mat-label>
          <mat-select [(ngModel)]="reWriterLength">
            <mat-option value="as-is"> as-is </mat-option>
            <mat-option value="shorter"> Shorter </mat-option>
            <mat-option value="longer"> Longer </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>

  <mat-card class="card-container">
    <mat-card-content>
      @if (isLoading()) {
      <mat-spinner></mat-spinner>
      } @else{
      <div [innerHTML]="outputText()"></div>
      }
    </mat-card-content>
  </mat-card>
</div>
